.wrapper {
    margin: 0 auto 15px;
}
.block {
    min-height: auto;
}
.block:not(:last-child) {
    margin-bottom: 15px;
}

.blockTitle {
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    padding: 8px 5px;
    background: rgb(60, 133, 252);
}

.blockContent {
    padding: 5px;
}

.blockError {
    background: rgb(199, 54, 54);
}

/* @media screen and (max-width: 576px) {
    .wrapper {
        background: red;
    }
} */