.wordWrap {
  display: flex;
}

.word {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 37px;
  padding-left: 10px;
}

.type {
  width: 80px;
  height: 100%;
  padding: 0 10px;

  background: #4285f4;
  color: #fff;

  text-align: center;
  line-height: 37px;
}

.wordFuncsWrap {
  display: flex;
}

.wordFuncsWrap > button {
  display: inline-block;
  margin-left: 15px;
}

.deleteWordBtn {
  background: #fff url("../../imgs/trash.svg") center no-repeat;
  background-size: 50%;
}
.editWordBtn {
  background: #fff url("../../imgs/pencil.svg") center no-repeat;
  background-size: 50%;
}