* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  outline: none;
}

body {
  font: 16px/1.333 Arial, sans-serif;
  background-color: #F6F6F6;
}

button {
  border: none;
  background: none;
  box-shadow: none;
  cursor: pointer;
}
select,
input {
  border: none;
  webkit-box-shadow: 0 0 0 2px rgba(0,0,0,0) inset, 0 0 0 1px #e0e0e0 inset;
  box-shadow: inset 0 0 0 2px rgba(0,0,0,0), inset 0 0 0 1px #e0e0e0;
  border-radius: 6px;
  min-height: 36px;
  font: inherit;
  width: 100%;
}
input {
  padding: 0 10px;
  background-color: #fff !important;
}
input:focus {
  webkit-box-shadow: 0 0 0 1px rgba(66, 133, 244, .5) inset, 0 0 0 1px rgba(66, 133, 244, .5) inset;
  box-shadow: inset 0 0 0 1px rgba(66, 133, 244, .5), inset 0 0 0 1px rgba(66, 133, 244, .5);
}
input:focus ~ .form-inp-title {
  color: red !important;
}
a {
  text-decoration: none;
  color: #369;
} 

/* BTNS */
.button {
  background: #4285f4;
  border-radius: 6px;
  padding: 5px 15px;
  color: #fff;

  font: inherit;
}
.button:disabled {
  background: #6ea0f1;
}
.round-btn {
  flex-shrink: 0;
  
  width: 37px;
  height: 37px;

  box-shadow: 0 0 10px rgba(0,0,0,.08);
  border-radius: 50% !important;

  cursor: pointer;
  transition: .3s;
}
.round-btn:hover {
  box-shadow: 0 0 20px rgba(0,0,0,.2);
}

.minus-btn {
  position: relative;
  background: #fff;

}
.minus-btn:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  transform-origin: center;

  width: 50%;
  height: 2px;
  background: #000;
  border-radius: 4px;

  content: "";
  transition: .3s;
}
.plus-btn {
  position: relative;
  /* background: #fff url(./imgs/plus-symbol.svg) center no-repeat; */
  /* background-size: 60%; */
  background: #fff;
}
.plus-btn:before,
.plus-btn:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;

  width: 2px;
  height: 60%;
  background: #000;
  border-radius: 4px;

  content: "";
  transition: .3s;
}
.plus-btn:before {
  transform: translate(0, -50%);
}
.plus-btn:after {
  background: #000;
  transform: rotate(90deg) translateY(-50%);
  transform-origin: center 0;
}
.plus-btn:hover {
  background-color: #4285f4;
}
.plus-btn:hover:after {
  background: #fff;
  transform: translate(0, -50%);
}
.plus-btn:hover:before {
  background: #fff;
  transform-origin: center 0;
  transform: rotate(90deg) translateY(-50%);
}

.wrapper {
  padding: 15px 0;
}

/* GENERAL */
.container {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.block-shadow {
  background-color: #fff;
  min-height: 37px;
  box-shadow: 0 0 10px rgba(0,0,0,.08);
  border-radius: 6px;
  overflow: hidden;
}

.block-m {
  margin-bottom: 20px;
}

.loader-wrapper {
  margin: 15px auto;
  width: 50px;
}

/* FORMS */
.form-field:not(:last-child) {
  margin-bottom: 15px;
}
.form-field__title {
  color: #777;
  margin-bottom: 5px;
}
.form-field__error {
  position: relative;
  margin-bottom: 5px;
  margin-left: 15px;
  color: #eb354a;
  font-size: 0.9em;
  animation: slideLeftToRight .3s 1;
}
@keyframes slideLeftToRight {
  from {
    margin-left: 5px;
  }
  to {
    margin-left: 15px;
  }
}
.form-field__input_invalid:focus,
.form-field__input_invalid {
  box-shadow: inset 0 0 0 1px #eb354a;
}
.form-field__error:before {
  content: "";
  
  position: absolute;
  left: -10px;
  top: 50%;

  transform: translateY(-50%);
  
  background: #eb354a;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.form-field__array {
  display: flex;
}
.form-field__array__remove {
  width: 36px;
  height: 36px;

  background: url(./imgs/minus-symbol.svg) center no-repeat;
  background-size: 50%;
}
.form-field__inp_m:not(:last-child) {
  margin-bottom: 10px;
}
.form-field__array__btn {
  margin-left: 15px;
}
.form-field__array__btn:before {
  transform: translateX(-1px) translateY(-50%);
}
.form-field__array__btn:after {
  transform: rotate(90deg) translateY(-45%);
}
.form-field__array__btn:hover:before {
  transform: rotate(90deg) translateY(-50%) translateX(0);
}
.form-field__array__btn:hover:after {
  transform: translateX(-50%) translateY(-50%);
}

/* LOGIN */
.login-btn {
  position: relative;

  width: 100px;
  height: 100px;
  border-radius: 50%;
  
  background: #4285f4;
  color: #fff;
  font-size: 1.2em;
}
.login-btn:hover:before {
  opacity: 1;
  transform: scale(1);
}
.login-btn:hover:after {
  opacity: 1;
  transform: scale(1);
}
.login-btn:before,
.login-btn:after {
  transform: scale(0);
  content: "";
  position: absolute;
  opacity: 0;
  border-radius: 50%;
}
.login-btn:before {
  left: -100%;
  top: -100%;
  
  transition: .3s;
  width: 300%;
  height: 300%;

  background: #97b8ee;
  z-index: -1;
}
.login-btn:after {
  left: -250%;
  top: -250%;

  transition: .3s ease-out .3s;
  width: 600%;
  height: 600%;

  background: #dae5fa;
  z-index: -2;
}
.login-wrap {
  position: fixed;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;

  display: flex;
  
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* ProfileView */
.profile-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
}

.header-profile {
  display: flex;
}

.header-profile__picture {
  margin-right: 10px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}
.header-profile__picture img {
  object-fit: cover;
}
.header-profile__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* MENU */
.navbar {
  margin-bottom: 40px;
}
.tabs {
  height: 38px;
  border-radius: 6px 6px 0 0;
  position: relative;
  display: flex;
}

.indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #4285f4;
  transition: .3s;
}

.logout-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 30px;
  line-height: 30px;
  transition: width .3s;
  overflow: hidden;
}
.logout-btn__icon {
  flex-shrink: 0;
  content: "";
  width: 30px;
  height: 30px;
  background: url(./imgs/logout.svg) center no-repeat;
  border-radius: 50%;
  z-index: 1;
}
.logout-btn__mask {
  flex-shrink: 0;
  margin-left: 10px;
}
.logout-btn:hover {
  width: 90px;
}

/* NAVBAR */
.tab {
  width: 100%;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
}

.tab:hover,
.tab.active {
  color: #4285f4;
}

.indicator {
  background-color: #4285f4 !important;
}